.Home {
  height: 100%;
  width: 100%;
  background-color: #fcf9ec;
  text-align: center;
  font-family: sans-serif;
}

.NavBar img {
  width: 40vw;
}

.teleport img {
  width: 60vw;
  padding: 10%;
}
